/* Quitar el enfoque por defecto de Bootstrap y reemplazar por Oro Gamer */
.chat-input:focus {
  background-color: rgba(255, 255, 255, 0.08) !important;
  border-color: #ffc107 !important;
  color: #fff !important;
  box-shadow: 0 0 10px rgba(255, 193, 7, 0.15) !important;
}

/* Cambiar el comportamiento de las flechas nativas del input numérico (Edad) */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  opacity: 1;
}
